@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Montserrat", serif;
    background-color: #f9faf8;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.script-font {
    font-family: "Caveat", cursive;
    font-size: 40px;
    color: #d4bd58; /* Золотой оттенок */
}

#falling-flower {
    position: absolute;
    top: 0;
    left: 0;
    height: 260px;
    width: 100%;
}
