@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Montserrat", serif;
    background-color: #f9faf8;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

/* Target scrollbar width */
::-webkit-scrollbar {
    width: 3px;
}

/* Background of the scrollbar track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.script-font {
    font-family: "Caveat", cursive;
}

#falling-flower {
    position: absolute;
    top: 0;
    left: 0;
    height: 260px;
    z-index: -1;
    width: 100%;
}

#falling-flower2 {
    position: absolute;
    bottom: -136px;
    left: 24px;
    right: 24px;
    z-index: -1;
    height: 160px;
}
